@charset "utf-8";
.content{height: auto;width: 100%;margin: 0 auto;}
.MainContent{width: 1024px;height: 1002px;margin: 0 auto;}
.signal img{height: 100px;width: 300px;float: left;}
.text{height: 100px;width: 500px;margin-left: 100px;float:left;}
.main{float: left;}
.main h1{color:#333;background-color:transparent;height: 50px;width: 500px;padding-bottom: 20px}
.main h1 a{color:#c60;background-color:transparent;font-weight:bold;text-decoration:none;}
.main ul{padding:0;}
.main ul li{float:left;padding:1em;list-style:none;}
.main ul li img{height:165px;width:215px;padding-left: 10px;}
#imagegallery{list-style:none;} 
#imagegallery li{display:inline;}
#imagegallery li a img{border:0;}
.bottom h1{height: 30px;width: 400px;margin-left: 400px;margin-top:20px;float:right;}